@import url('https://fonts.googleapis.com/css?family=Montserrat');
@charset "utf-8";
.inside {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body,td,th,p{
  font-family: 'Montserrat', sans-serif;
	color: #333;
	line-height: 1.5;
  letter-spacing: 1px;
}
body {
	background-color: #f3f3f3;
	margin: 0;
	position:relative;
  width: 100%;
}
ul, li {
	font-size: 10pt;
	color: #333;
  font-family: 'Montserrat', sans-serif;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
#skip {
  position: absolute;
  top: -1000px;
  left: -1000px;
  height: 1px;
  width: 1px;
  text-align: left;
  overflow: hidden;
}
a#skip:active, 
a#skip:focus, 
a#skip:hover {
  left: 0; 
  top: 0;
  width: auto; 
  height: auto;
  padding: 0.5%; 
  overflow: visible; 
  background-color: #ff533d;
  color: white;
  font-size: 10px;
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 80px;
  padding-top: 2%;
  background-color: #000b36;
  text-align:center;
}
nav h1 {
  margin: auto;
}
nav h1 a {
  color: #fff;
  font-size: 18px;
  letter-spacing: 15px;
  text-transform: uppercase;
  text-decoration: none;
}
#breadcrumb {
    padding: 10px 40px 16px;
    margin: 0;
    width: 100%;
}
#breadcrumb li {
    display: inline;
}
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}
#breadcrumb li a:hover {
    color: #3397db;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  height: 80px;
  background-color: #000b36;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.filter-options h2 {
  color: white;
  font-size: 0.8rem;
  line-height: 1;
  margin: 0 20px;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.filter-options select {
  background-color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 11pt;
  height: 35px;
  margin: 10px;
  padding: 0 10px;
  width: 30%;
}
.filter-options select:hover {
  cursor: pointer;
}
/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: space-around;
  text-align: center;
  padding-left: 0;
}
#restaurants-list li {
  background-color: #fff;
  box-shadow: 10px 10px 20px grey;
  margin: 15px;
  padding: 30px 40px 35px;
  text-align: left;
  width: 22%;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  margin: 0;
  min-height: 100px;
  width: 100%;
}
#restaurants-list li h1 {
  color: #ab987a;
  font-size: 18px;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 12px;
}
#restaurants-list li a {
  background-color: #ff533d;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
}
#restaurants-list li a:hover {
  transform: scale(1.1);
}
/* ====================== Restaurant Details ====================== */
.inside {
  width: 100%;
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}
#restaurant-name {
  color: #ab987a;
  font-size: 18px;
  margin: 15px 0 20px;
  text-transform: uppercase;
}
.restaurant-img {
	width: 90%;
}
#restaurant-address {
  font-size: 16px;
  text-transform: uppercase;
  color: #ab987a;
}
#restaurant-cuisine {
  background-color: #ff533d;
  color: #ddd;
  font-size: 16px;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 90%;
}
td {
  padding-right: 20px;
  padding-bottom: 10px;
}
#restaurant-hours {
  font-size: 13px;
}
#reviews-container h2 {
  color: #ab987a;
  font-size: 18px;
}
#reviews-list {
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  list-style-type: none;
  width: 90%;
  padding: 20px 20px 20px;
}
#reviews-list li p {
  margin: 0 0 10px;
  line-height: 1.7;
}
/* ====================== Footer ====================== */
#footer {
  background-color: #000b36;
  color: #fff;
  font-size: 10px;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}
#footer a {
  color: #ab987a;
  text-decoration: none;
}
/*==============Styiling for screens under 550px=============*/
@media screen and (max-width: 550px) {
  body .inside {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(4, auto);
  }
  nav {
    height: 130px;
    padding-top: 10%;
  }
  nav h1 a {
    font-size: 20px;
  }
  #restaurants-list li {
    margin: 0;
    width: 100%;
    border: none;
    text-align: center;
  }
  #restaurants-list {
    padding-left: 0;
    padding-top: 0;
  }
  #restaurants-list .restaurant-img {
    background-color: #ccc;
    display: block;
    max-width: 80%;
    min-height: 150px;
    min-width: 20%;
    margin-left: 10%;
  }
  #restaurants-list li h1 {
    font-size: 12px;
  }
  #restaurants-list p {
    font-size: 10px;
  }
  #restaurants-list li a {
    font-size: 10px;
  }
  .filter-options {
    height: 150px;
    display: flex;
    flex-direction: column;
  }
  .filter-options select {
    width: 80%;
    height: 30px;
  }
  option {
    font-size: 10px;
  }
  .leaflet-bar {
    margin-top: 10%;
  }
  .inside header {
    grid-row-start: 1;
    grid-row-end: 2;
  }
  #restaurant-container {
    width: 100%;
    margin-right: 0;
    padding: 0;
    background-color: #f3f3f3;
    grid-row-start: 2;
    grid-row-end: 3;
    padding-bottom: 5%;
  }
  #restaurant-container h2 {
    font-size: 18px;
    padding-top: 5%;
    padding-left: 0;
    text-align: center;
  }
  #restaurant-cuisine {
    font-size: 15px;
    width: 100%; 
  }
  #restaurant-address {
    font-size: 12px;
    color: #ab987a;
    padding-left: 5%;
  }
  #restaurant-container #restaurant-img {
    width: 100%;
    padding-left: 0;
  }
  #restaurant-hours {
    padding-left: 5%;
  }
  #reviews-container {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    background-color: #f3f3f3;
    grid-row-start: 3;
    grid-row-end: 4;
    padding-bottom: 20%;
  }
  #reviews-container h2 {
    text-align: center;
    font-size: 18px;
  }
  .inside #map-container {
    width: 100%;
    height: 500px;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  #reviews-list li {
    margin: 0;
    width: 100%;
  }
  #reviews-list li p {
    font-size: 11px;
  }
  #breadcrumb {
    width: 100%;
    font-size: 10px;
  }
  td {
    font-size: 11px;
  } 
  .inside #footer {
    grid-row-start: 4;
    grid-row-end: 5;
    height: 100px;
  }
}
/*============Styiling for screens between 551 and 700px=============*/
@media screen and (min-width: 551px) and (max-width: 800px) {
  nav h1 a {
    font-size: 16px;
  }
  #maincontent {
    width: 100%;
  }
  #restaurants-list li {
    margin-bottom: 2%;
    width: 70%;
    border: none;
    padding: 5%;
  }
  #restaurants-list {
    padding-left: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  #restaurants-list .restaurant-img {
    background-color: #ccc;
    display: block;
    margin: 0;
    min-height: 100px;
    min-width: 10%;
  }
  #restaurants-list li h1 {
    font-size: 15px;
  }
  #restaurants-list p {
    font-size: 11px;
  }
  #restaurants-list li a {
    font-size: 10px;
    letter-spacing: 2px;
  }
  .filter-options {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .filter-options h2 {
    letter-spacing: 3px;
    font-size: 10px;
    text-transform: uppercase;
  }
  .filter-options select {
    width: 30%;
    height: 40%;
  }
 .inside body {
    display: grid;
    grid-template-rows: repeat(3, auto);
  }
  .inside header {
    grid-row-start: 1;
    grid-row-end: 2;
  }
  #restaurant-container h2 {
    font-size: 16px;
    padding-left: 0;
    text-align: left;
  }
  #restaurant-address {
    font-size: 13px;
    margin: 10px 0px;
    width: 90%;
    color: #ab987a;
  }
  #restaurant-hours {
    width: 90%;
    font-size: 12px;
  }
  #restaurant-container {
    width: 100%;
    margin-right: 0;
    padding-top: 5%;
    background-color: #f3f3f3;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  #reviews-container {
    width: 100%;
    background-color: #f3f3f3;
    padding-left: 0;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #reviews-container h2 {
    font-size: 16px;
  }
  #reviews-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .inside #map-container {
    width: 100%;
    height: 500px;
    text-align: center;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}
/*==============Styiling for screens between 801px and 1300px=============*/
@media screen and (min-width: 801px) and (max-width: 1300px) {
  #restaurants-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 0;
    width: 100%;
  }
  #restaurants-list li {
    width: 30%;
    padding-top: 2%;
    box-shadow: 10px 10px 20px grey;
    border: none;
  }
  .restaurant-img {
    width: 30%;
  }
  #restaurants-list li h1 {
    font-size: 15px;
  }
  #restaurants-list p {
    font-size: 12px;
  }
  #restaurants-list li a {
    font-size: 10px;
    letter-spacing: 2px;
  }
  .filter-options {
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .filter-options select {
    width: 30%;
    height: 50%;
  }
  .inside {
      display: grid;
      grid-template-rows: repeat(3, auto);
    }
  .inside header {
    grid-row-start: 1;
    grid-row-end: 2;
  }
  
  #restaurant-container {
    width: 100%;
    margin-right: 0;
    padding-top: 5%;
    background-color: #f3f3f3;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border: 60px #f3f3f3 solid;
  }
  #restaurant-container > img {
    width: 85%;
  }
  #restaurant-cuisine {
    width: 85%;
  }
  #restaurant-hours {
    padding-bottom: 20px;
  }
  #reviews-container {
    width: 100%;
    background-color: #f3f3f3;
    padding-left: 0;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #reviews-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
  }
  .inside #map-container {
    width: 100%;
    height: 500px;
    text-align: center;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}
/*=============Styiling for screens over 1301px==============*/
@media screen and (min-width: 1301px) {
  .inside #maincontent{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  } 
  #restaurant-img {
    width: 100%;
  }
  #restaurant-cuisine {
    width: 100%;
  }
  #reviews-container {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    width: 100%;
    padding-top: 3%;
    padding-right: 25px;
    padding-bottom: 35px;
    background-color: #f3f3f3;
    padding-left: 20px;
  }
  #reviews-list li {
    width: 100%;
  }
  .inside #map-container {
    width: 100%;
    height: 600px;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
  }
  #restaurant-container {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    width: 100%;
    margin-right: 0;
    padding-top: 5%;
    padding-bottom: 10%;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #fff;
    border: 25px #f3f3f3 solid;
  }   
}